{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="dash">
    {% include 'base/aside.html' %}
    <div class="center-panel">
        {% include 'base/asideResponsive.html' %}
        {% include 'base/header.html' %}
        <section class="main-app-area mt-4">
            <div class="container">
                {% include 'base/asideResponsive.html' %}
                {% include 'base/asideBlock.html' %}
                {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="heading d-flex justify-content-between align-items-center mb-4 px-2 py-2 bg-secondary text-light">
                    <h4>Overdues</h4>
                    {% comment %} <div class="button d-flex">
                        <form action="" method="get" class="px-2">
                            <input type="text" name="q" value="not paid" hidden>
                            <button class="btn btn btn-light" type="submit">Overdue Debtors</button>
                        </form>
                        <form action="" method="get">
                            <input type="text" name="q" value="fully paid" hidden>
                            <button class="btn btn btn-light" type="submit">Fully paid Debtors</button>
                        </form> {% endcomment %}
                    </div>
                </div>
                <div class="container">
                    <div style="height:70vh;overflow:auto;">
                        <table class="table table-striped table-responsive table-hover">
                            <caption>First Payment Overdues</caption>
                            <thead>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Product</th>
                            </thead>
                            <tbody>
                                {% for overdue in overdue_thirty %}
                                <tr>
                                    <td><a href="{% url 'debtor' overdue.id %}" style="text-decoration:none;">{{overdue.name}}</a></td>
                                    <td>{{overdue.surname}}</td>
                                    <td>{{overdue.product}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h6>Second Payment</h6>
                        <table class="table table-striped table-responsive table-hover">
                            <caption>Second Payment Overdues</caption>
                            <thead>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Product</th>
                            </thead>
                            <tbody>
                                {% for overdue in overdue_sixty %}
                                <tr>
                                    <td><a href="{% url 'debtor' overdue.id %}" style="text-decoration:none;">{{overdue.name}}</a></td>
                                    <td>{{overdue.surname}}</td>
                                    <td>{{overdue.product}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h6>Final Payment</h6>
                        <table class="table table-striped table-responsive table-hover">
                            <caption>Final Payment Overdues</caption>
                            <thead>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Product</th>
                            </thead>
                            <tbody>
                                {% for overdue in overdue_ninety %}
                                <tr>
                                    <td><a href="{% url 'debtor' overdue.id %}" style="text-decoration:none;">{{overdue.name}}</a></td>
                                    <td>{{overdue.surname}}</td>
                                    <td>{{overdue.product}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
</div>
{% endblock content %}