{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    #date{
        float:right;
    }
    .messages{

    }
</style>
<div class="dash">
    {% include 'base/aside.html' %}
    <div class="center-panel">
        {% include 'base/header.html' %}
        <section class="main-app-area mt-4">
            <div class="container">
                {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                                <i class="bi bi-close text-light"></i>
                            </p>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="heading d-flex justify-content-between align-items-center mb-4">
                    <h4>Debtors
                        <a href="{% url 'createDebtor' %}">
                            <i class="bi bi-plus-lg  px-3" style="color:darkgreen;"></i>
                        </a>
                    </h4>
                    <div class="button d-flex">
                        <a href="{% url 'overdues' %}" class="btn btn-light px-2">
                            Overdue Debtors
                        </a>
                        <form action="" method="get">
                            <input type="text" name="q" value="fully paid" hidden>
                            <button class="btn btn btn-light" type="submit">Fully paid Debtors</button>
                        </form>
                    </div>
                </div>
                    <table class="table table-striped table-responsive table-hover" id="table">
                        <caption>List of Debtors</caption>
                        <thead>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Product</th>
                            <th>Deposit</th>
                            <th class="">First Payment
                                <span class="badge btn-light"><a href="{% url 'firstOverdues' %}" style="text-decoration: none;">Overdue {{overdue_thirty}}</a></span>
                            </th>
                            <th class="">Second Payment
                                <span class="badge btn-light"><a href="{% url 'secondOverdues' %}" style="text-decoration: none;">Overdue {{overdue_sixty}}</a></span>
                            </th>
                            <th class="">Final Payment
                                <span class="badge btn-light"><a href="{% url 'finalOverdues' %}" style="text-decoration: none;">Overdue {{overdue_ninety}}</a></span>
                            </th>
                        </thead>
                        <tbody>
                            {% for debtor in debtors %}
                            <tr>
                                <td><a href="{% url 'debtor' debtor.id %}" style="text-decoration:none;">{{debtor.name}}</a></td>
                                <td>{{debtor.surname}}</td>
                                <td>{{debtor.product}}</td>
                                <td class="">${{debtor.product.deposit}}</td>

                                <td class="bg-secondary text-light">
                                    <span class="payment">${{debtor.product.first_payment}}</span>
                                    <small id="date">{{debtor.first_payment_date}}</small>
                                </td>

                                <td class="bg-primary text-light">
                                    <span class="payment">${{debtor.product.second_payment}}</span> 
                                    <small id="date">{{debtor.second_payment_date}}</small></td>

                                <td class="bg-success text-light">
                                    <span class="payment">${{debtor.product.final_payment}} </span> 
                                    <small id="date">{{debtor.final_payment_date}}</small></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </section>
</div>
<script>
    // let table = document.getElementById('table');
    // let tableBody = table.querySelectorAll('.payment')

    // for(let td = 0; td<tableBody.length; td++){
    //     console.log(tableBody[td].textContent)
    //     if (tableBody[td].textContent === '$0.00'){
    //         tableBody[td].textContent = 'to be paid on'
    //         console.log('empty')
    //     }else{
    //         tableBody[td].textContent += 'paid on'
    //     }
    // }


</script>
{% endblock content %}