{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    #date{
        float:right;
    }
    .table thead, tbody{
        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
    }
    .table td, .table td a{
        color: #fff;
    }
    .card{
        border:none;
    }
</style>
<div class="dash">
    {% include 'base/aside.html' %}
    <div class="center-panel">
        {% include 'base/header.html' %}
        <section class="main-app-area mt-4">
            <div class="container">
                {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                                <i class="bi bi-close text-light"></i>
                            </p>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="heading d-flex justify-content-between align-items-center mb-4 bg-secondary text-light py-2">
                    <h4 class="px-2">
                        Cancelled Debtors
                    </h4>
                </div>
                    <div class="cancelList card">
                        <div class="card-board">
                            <table class="table table-responsive table-striped px-3 py-3">
                                <thead>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Cancelled by</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for cancelledDebtor in cancelledDebtors %}
                                        <tr>
                                            <td style="background:#f06621bc;"><a href="{% url 'debtor' cancelledDebtor.id %}" style="color: #fff !important; text-decoration: none; ">{{cancelledDebtor.name}}</a></td>
                                            <td style="background:#f06621bc;">{{cancelledDebtor.surname}}</td>
                                            <td style="background:#f06621bc;">{{cancelledDebtor.user}}</td>
                                            <td class="bg-secondary">
                                                <a href="{% url 'revertCancellation' cancelledDebtor.id %} " class="btn btn-light btn-sm text-dark">Revert</a>
                                                <a href="{% url 'deleteDebtor' cancelledDebtor.id %}" class="btn btn-danger btn-sm">Confirm Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </section>
    </div>
<script>
</script>
{% endblock content %}