{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .card, .head{
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) ;
    }
    .recent-activities{
        height: 30vh;
    }
    .cards .col{
        width:33.3%;
        height: 33.3%;
    }
    @media only screen and (max-width: 600px) {
        .cards .col .card .card-body{
            display: flex;
            flex-direction: column;
        }
  }
</style>
    <div class="dash">
        {% include 'base/aside.html' %}
        <div class="center-panel">
            <div class="aside-responsive">
                {% include 'base/asideResponsive.html' %}
            </div>
            {% include 'base/header.html' %}
            <section class="main-app-area mt-4">
                <div class="container">
                    <div>
                        {% include 'base/asideBlock.html' %}
                    </div>
                    <div class="head d-flex justify-content-between align-items-center mb-4 bg-secondary text-light py-2">
                        <h4 class="px-2">Dashboard</h4>
                        <div class="button">
                            <a href="{% url 'debtors' %}">
                                <div class="btn btn btn-secondary">Debtors<span class="badge" style="color:#f06721;">{{debtors}}</span></div>
                            </a>
                            {% if request.user.position == 'admin' %}
                                <a href="{% url 'cancelledDebtorList' %}" class="btn btn-secondary px-2">
                                    Cancelled debtors
                                    <span class="badge" style="color: #f06721;">{{cancelledCount}}</span>
                                </a>
                            {% endif %}
                            <a href="{% url 'fullyPaidDebtors' %}"class="btn btn btn-secondary">Fully Paid<span class="badge" style="color:#f06721;">{{fully_paid}}</span></a>
                            <a href="{% url 'overdues' %}"class="btn btn btn-secondary">Overdues<span class="badge" style="color:#f06721;">{{overdues_count}}</span></a>
                            <a href="{% url 'payment' %}"class="btn btn btn-secondary">Payments</a>
                        </div>
                    </div>
                    <div class="cards mt-3">
                        <div class="row">
                            <div class="col">
                                <div class="card text-light bg-success">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <p class="card-text">
                                            Total Debtors Amount
                                        </p>
                                        <p>${{total}}/${{total_sp}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-light bg-success">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <p class="card-text">
                                            Overdues 
                                        </p>
                                        <p>{{overdues_count}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-light bg-success">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <p class="card-text">
                                            Total Number Of Debtors 
                                        </p>
                                        <p>{{debtors}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="recent-activities mt-4">
                <div class="container">
                    <div class="heading d-flex justify-content-between">
                        <h6 class="py-3 px-2">Recent Activities</h6>
                        <div class="container d-lg-none d-xl-none search d-flex align-items-center justify-content-center">
                            <form action="" method="get" class="d-flex">
                                {% csrf_token %}
                                <input type="search" value="" name="q" placeholder="Search" class="py-2 px-2">
                                <button style="background:#fff !important ;" class="btn  btn-sm" type="submit">
                                    <i class="bi bi-search text-dark"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="height:40vh;overflow:auto;">
                        <div class="col col-mid-8">
                            <div class="card bg-light">
                                <table class="table-responsive table">
                                    <thead>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Activity</th>
                                        <th>User</th>
                                    </thead>
                                    <tbody>
                                        {% for activity in activities %}
                                        <tr>
                                            <td style="color:green;" ><i class="bi bi-box-arrow-in-up"></i></td>
                                            <td>{{activity.created}}</td>
                                            <td>{{activity.content}} For {{activity.title}} </td>
                                            <td>{{activity.user}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
    </div>
    
{% endblock content %}