{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .card, .head{
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) ;
    }
    .card{
        height:30vh;
    }
    .card a{
        text-decoration:none;
        color: #fff;
    }
</style>
    <div class="dash">
        {% include 'base/aside.html' %}
        <div class="center-panel">
            <div class="container">
                {% include 'base/asideBlock.html' %}
                <div class="top-panel text-dark d-flex flex-row justify-content-between">
                    <div class="dash-logo d-flex align-items-center justify-content-between py-3">
                        <div class="px-2">
                            <img src="{% static 'assets/tc_logo.png' %}" alt="logo" class="" width='30px'>
                            <small class="text-dark">C M S</small>
                        </div>
                    </div>
                    <div class="top-panel-contents py-3 ">
                        <div class="user-notifications px-4 d-flex align-items-center">
                            <img src="{{user.image.url}}" alt="image" width="30px">
                            <small class="px-3">{{user.username}}</small>
                            <small><i class="bi bi-bell" onclick="notficationsShow();"></i></small>
                            <small><i class="bi bi-gear px-3" onclick="settingsShow();"></i></small>
                            <div class="drop-menu">
                                <i class="bi bi-list px-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-show">
                <a href="{% url 'userSettings' request.user.id %}">settings</a><br>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <section class="main-app-area mt-4">
                <div class="container">
                    <div class="head d-flex justify-content-between align-items-center mb-4 bg-secondary text-light py-2">
                        <h4 class="px-2">Change Settings</h4>
                    </div>
                    <div class="cards mt-5">
                        <div class="row">
                            <div class="col">
                                <div class="card text-light bg-success">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <p class="card-text">
                                            <img src="{{user.image.url}}" alt="Profile" width="100px" >
                                            <a href="{% url 'updateUser' request.user.id %}">Upload Image |</a>
                                            <a href="{% url 'changeUserPassword' %}">Change Password</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
        
    </div>
    
{% endblock content %}