{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .card, .head{
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) ;
    }
    .card{
        height:30vh;
    }
    .card a{
        text-decoration:none;
        color: #fff;
    }
</style>
    <div class="dash">
        {% include 'base/aside.html' %}
        <div class="center-panel">
            {% include 'base/header.html' %}
            <section class="main-app-area mt-4">
                <div class="container">
                    <div class="head d-flex justify-content-between align-items-center mb-4 bg-secondary text-light py-2">
                        <h4 class="px-2">{{user.username}}</h4>
                    </div>
                    <div class="cards mt-5">
                        <div class="row">
                            <div class="col">
                                <div class="card text-light bg-success">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <p class="card-text">
                                            <img src="{{user.image.url}}" alt="Profile" width="100px" >
                                            <a href="{% url 'updateUser' request.user.id %}">Upload Image |</a>
                                            <a href="{% url 'changeUserPassword' %}">Change Password</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
        
    </div>
    
{% endblock content %}