{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .card{
        border: none;
    }
</style>
    <div class="dash">
        {% include 'base/aside.html' %}
        <div class="center-panel">
            {% include 'base/header.html' %}
            <section class="main-app-area mt-4">
                <div class="container">
                    {% include 'base/asideBlock.html' %}
                    <div class="user-heading d-flex justify-content-between align-items-center mb-4 bg-secondary text-light">
                        <h4 class = "px-2 py-2">Users</h4>
                        <div class="button px-2">
                            <a href="{% url 'createUser'%}">
                                <div class="btn btn btn-secondary text-light ">Add user</div>
                            </a>
                        </div>
                    </div>
                    <div class="cards mt-3">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                                    <i class="bi bi-close text-light"></i>
                                </p>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="row">
                            {% for user in users  %}
                            <div class="col">
                                <div class="card">
                                        <div class="card-body">
                                            <img src="{{user.image.url}}" class="card-img-top" alt="userImage" style="width: 50px; text-align: center;">
                                            <h5 class="card-title">{{user.username}}</h5>
                                            <!-- <p class="card-text"></p> -->
                                            <div class="buttons">
                                                <a href="{% url 'userDebtors' user.id %}" class="btn btn-light">
                                                    Debtors
                                                </a>
                                                <a href="{% url 'userActivity' user.id %}" class="btn btn-light">
                                                    Activity
                                                </a>
                                                <a href="#" class="btn btn-light">
                                                    Delete User
                                                </a>
                                                <a href="{% url 'userPermissions' user.id%}" class="btn btn-light">
                                                    Add Permissions
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div> 
    </div>
{% endblock content %}